<ion-card *ngIf="isLoading"
          class="terms-and-conditions-skeleton">
  <div *ngFor="let range of [] | range:3">
    <uab-skeleton-paragraph></uab-skeleton-paragraph>

    <ion-item-divider></ion-item-divider>
  </div>
</ion-card>

<ion-card *ngIf="!isLoading"
          class="terms-and-conditions">
  <div *ngFor="let tc of termsAndConditions"
       class="ion-margin">
    <ion-text>
      <div [innerHTML]="tc.terms | safeHtml"></div>
    </ion-text>
  </div>

  <ion-item-divider></ion-item-divider>

  <form *ngIf="acceptTermsForm"
        [formGroup]="acceptTermsForm">
    <ion-item style="margin-left: 20px; margin-right: 20px;">
      <ion-label [position]="'stacked'">
        {{ emailLabelText }}
      </ion-label>

      <ion-input name="email"
                 [placeholder]="emailPlaceholderText"
                 type="email"
                 class="form-control"
                 formControlName="emailAddress"
                 (keyup.enter)="onSubmit()"></ion-input>
    </ion-item>

    <uab-button-group (acceptOnClick)="onSubmit()"
                      [acceptButtonId]="'accept-button'"
                      [acceptDisabled]="isDisabled()"
                      [acceptDisabledTooltip]="'A valid email address is required'"
                      [acceptActive]="isCreatingUser"
                      [acceptText]="acceptButtonText"
                      [acceptActiveText]="acceptingButtonText"></uab-button-group>

    <div *ngIf="acceptTermsForm.get('emailAddress').invalid && (acceptTermsForm.get('emailAddress').dirty || acceptTermsForm.get('emailAddress').touched)"
         class="ion-text-center"
         style="color:red; font-size: 17px; font-weight: 500; width: 100%;">
      {{ validEmailText }}
    </div>
  </form>
</ion-card>
