<ion-card *ngIf="isConfirming">
  <div *ngFor="let range of [] | range:1">
    <uab-skeleton-paragraph></uab-skeleton-paragraph>
  </div>
</ion-card>

<ion-card *ngIf="!isConfirming"
          class="ion-margin">
  <ion-text class="ion-text-center"
            style="padding: 4px; font-size: x-large;">
    <span *ngIf="hasError && !hasExpired">
      {{ errorText }}
    </span>

    <span *ngIf="!hasError && !hasExpired">
      {{ thankYouText }}
    </span>

    <span *ngIf="hasExpired && !hasError">
      This link has expired. If you have not completed the application process for the SCIPE study, please go back to the SCIPE website ({{ baseUrl }}/#/apply) to apply by entering your e-mail address again.
    </span>
  </ion-text>
</ion-card>
