//.cancel-icon {
//  background-image: url('assets/icons/cancel.svg') !important;
//}
//
//.create-icon {
//  background-image: url('assets/icons/create.svg') !important;
//}
//
//.delete-icon {
//  background-image: url('assets/icons/delete.svg') !important;
//}
//
//.modify-columns-icon {
//  background-image: url('assets/icons/modify-columns.svg') !important;
//}

.custom-icon {
  background-repeat: no-repeat !important;
  background-position: 35px 14px !important;
  padding-left: 70px !important;
  background-size: 30px 30px !important;
}