.video .play-icon {
  cursor: pointer;
  position: absolute;
  top: 47%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  opacity: 0.7;
}
