@media print{
  .do-not-print {
    display:none !important;
  }

  .article-text-content {
    display: inherit;
  }

  .main-menu {
    display: none !important;
  }

  .print-view-size {
    flex-grow: 12 !important;
    max-width: 100% !important;
  }
}
