// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/core.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~animate.css/animate.min.css';

@import '~@swimlane/ngx-datatable/assets/app.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/material.css';

@import '~@uab.lakeshore.collaborative/next-base/assets/styles';
@import '~@uab.lakeshore.collaborative/next-forms/assets/styles';

@import '~ionic4-auto-complete/auto-complete';

@import 'theme/icons';
@import 'theme/image';
@import 'theme/print';
@import 'theme/skeleton';

body {
  background-color: #dedfe0;
}

ion-button {
  --border-style: none;
  --border-width: 0;
}

ion-auto-complete {
  width: 100%;
}

ion-auto-complete ul {
  position: static;
  width: inherit;
}

ion-app.global-width {
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;

  @media (min-width: 1500px) {
    margin-top: 10px;
    bottom: 20px;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.8;
  }
}

.show-hand-cursor {
  cursor: pointer;
}

.clear {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.opaque {
  opacity: 1;
}

//Just a work around for the date time picker
.ngx-picker {
  color: #0a0302;
  font-weight: 500;
}

$text-input-placeholder-color:(#424242);

//TODO: Style invalid inputs, not hide
$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;
$text-input-highlight-color-valid: #fff;
$text-input-highlight-color-invalid: #FFF;

.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating]
{
  color: #fff !important;
}

// TODO

.gray-scale-image {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ngx-picker .calendar {
  position: relative !important;
  top: 0 !important;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
  white-space: normal;
}
