<div *ngIf="!isDenied"
     class="form-list">
  <ion-text class="ion-float-right"
            style="color: red;">
    (*) required field
  </ion-text>

  <ion-item-divider>
    Basic Information
  </ion-item-divider>

  <ion-row>
    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-input [id]="'firstName'"
                 [(model)]="user.first_name"
                 [autocomplete]="'given-name'"
                 [label]="firstNameText"
                 [required]="true"></uab-input>
    </ion-col>

    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-input [id]="'lastName'"
                 [(model)]="user.last_name"
                 [autocomplete]="'family-name'"
                 [label]="lastNameText"
                 [required]="true"></uab-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-age-toggle [id]="'ageToggle'"
                      [(model)]="user.is_in_age_range"
                      [required]="true"></uab-age-toggle>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-gender-toggle [id]="'genderToggle'"
                         [(model)]="user.gender"
                         [required]="true"></uab-gender-toggle>
    </ion-col>

    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-sci-toggle [id]="'sciToggle'"
                      [(model)]="user.has_sci"
                      [required]="true"></uab-sci-toggle>
    </ion-col>
  </ion-row>

  <ion-item-divider>
    Contact Details
  </ion-item-divider>

  <ion-row>
    <ion-col [size]="12">
      <uab-phone-number-input [id]="'mobileNumber'"
                              [label]="'Mobile Phone'"
                              [required]="true"
                              [placeholder]="'(XXX) XXX-XXXX'"
                              [(model)]="user.mobile_number"></uab-phone-number-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col [size]="12"
             [sizeLg]="6">
      <div *ngIf="contactPreferenceIsDirty() && !checkContactPreference()"
           style="color: red; margin-left: 20px;">
        Please select a time between 9 AM and 6 PM.
      </div>

      <uab-time [id]="'timePreference'"
                [required]="true"
                [placeholder]="contactTimePreferencePlaceholder"
                [label]="contactTimePreferenceLabel"
                [model]="user.preferred_contact_time"
                (modelChange)="checkContactPreference($event)"></uab-time>
    </ion-col>

    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-preferred-contact-toggle [id]="'contactPreferenceToggle'"
                                    [(model)]="user.preferred_contact_type"
                                    [required]="true"
                                    [label]="'How would you like to be notified when new exercise content is available on the website?'"></uab-preferred-contact-toggle>
    </ion-col>
  </ion-row>

  <ion-item-divider>
    Location
  </ion-item-divider>

  <ion-row>
    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-input [id]="'addressLineOne'"
                 [(model)]="user.address_line_one"
                 [label]="addressLineOneText"
                 [autocomplete]="'address-line1'"
                 [required]="true"></uab-input>
    </ion-col>

    <ion-col [size]="12"
             [sizeLg]="6">
      <uab-input [id]="'addressLineTwo'"
                 [(model)]="user.address_line_two"
                 [label]="addressLineTwoText"
                 [autocomplete]="'address-line2'"
                 [required]="false"></uab-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col [size]="12"
             [sizeLg]="4">
      <uab-input [id]="'city'"
                 [(model)]="user.city"
                 [autocomplete]="'address-level2'"
                 [label]="cityText"
                 [required]="true"></uab-input>
    </ion-col>

    <ion-col [size]="12"
             [sizeLg]="4">
      <uab-state-select [id]="'state'"
                        [(model)]="user.state_text"
                        [isAutocomplete]="isStateAutoComplete"
                        [required]="true"
                        [label]="stateLabel"
                        [placeholder]="statePlaceholder"></uab-state-select>
    </ion-col>

    <ion-col [size]="12"
             [sizeLg]="4">
      <uab-zipcode-input [id]="'zipcode'"
                         [(model)]="user.zipcode"
                         [label]="zipcodeText"
                         [required]="true"></uab-zipcode-input>
    </ion-col>
  </ion-row>

  <uab-button-group [neutralButtonId]="'cancelButton'"
                    [showNeutralButton]="showCancel"
                    (neutralOnClick)="cancel()"
                    [neutralDisabled]="isApplying"
                    [neutralText]="cancelText"
                    [acceptButtonId]="'applyButton'"
                    (acceptOnClick)="applyUser()"
                    [acceptDisabled]="isApplying || !formIsFilled()"
                    [acceptDisabledTooltip]="'You must answer all of the required fields.'"
                    [acceptActive]="isApplying"
                    [acceptText]="applyText"
                    [acceptActiveText]="applyingText"></uab-button-group>
</div>

<ion-list *ngIf="isDenied">
  <ion-card class="animated fadeIn">
    <ion-card-header>
      <ion-card-title class="text-center">
        Sorry
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin text-center">
      Thank you for your interest in the SCIPE study. Based on your response, you are not eligible for this study. Please feel free to contact us for more information at <a href="mailto: scipe@uab.edu">scipe@uab.edu</a>. We appreciate your time and have a good day!
    </ion-card-content>
  </ion-card>
</ion-list>
