<uab-header [pageTitle]="pageTitle"></uab-header>

<ion-content>
  <ion-card *ngIf="!hasCompleted"
            class="animated fadeIn"
            style="animation-delay: 100ms">
    <ion-card-header>
      <ion-card-title class="text-center">
        Welcome
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin">
      <div class="ion-text-center" style="font-weight: 500; text-align: center; width: 100%; margin-bottom: 10px;">
        Welcome to the SCIPE study!
      </div>

      <div class="ion-text-left" style="text-align: left; width: 100%;">
        To begin your application process, please enter your primary email address and click the ACCEPT button below. You will receive an email shortly to verify your email address and direct you to the next step (application).
        If you have any questions about the SCIPE study, please re-visit <a href="https://www.scipe.org">https://www.scipe.org</a>. You may directly contact our SCIPE team at <a href="tel:+12052092245">(205) 209-2245</a> or <a href="mailto: scipe@uab.edu">scipe@uab.edu</a>. We would love to help!
      </div>
    </ion-card-content>
  </ion-card>

  <div *ngIf="isLoadingUser">
    <ion-card *ngFor="let n of [] | range:5"
              class="apply-section-skeleton animated fadeIn">
      <uab-skeleton-block></uab-skeleton-block>
    </ion-card>
  </div>

  <ion-card *ngIf="showTerms && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 200ms">
    <ion-card-header>
      <ion-card-title class="text-center">
        Terms and Conditions
      </ion-card-title>
    </ion-card-header>

    <uab-accept-terms (onAccept)="setApplicant($event)"
                      [acceptButtonText]="acceptTermsButtonText"
                      [acceptingButtonText]="acceptingButtonText"></uab-accept-terms>
  </ion-card>

  <ion-card *ngIf="!showTerms && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 200ms">
    <ion-item>
      <ion-icon *ngIf="!hasAcceptedTerms"
                [slot]="'start'"
                [src]="'assets/icons/not-complete.svg'"></ion-icon>

      <ion-icon *ngIf="hasAcceptedTerms"
                [slot]="'start'"
                [src]="'assets/icons/complete.svg'"></ion-icon>

      <ion-label class="text-center text-disabled">
        Terms and Conditions
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showEmailConfirmation && !isLoadingUser"
            class="animated fadeIn confirm-email-card"
            style="animation-delay: 300ms">
    <ion-card-header>
      <ion-card-title class="text-center">
        Confirm Email
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin text-center">
      An email has been sent to <b>{{ applicant.email }}</b>.
      <br/>
      <br/>
      To continue the application process go to your inbox and click the link inside the email to confirm your email address.
      The email may take a few minutes to appear. Be sure to check both your inbox and spam folder for the email.
      <br/>
      <br/>
      <b *ngIf="showResend">If you do not receive the email then click the button below to resend it.</b>

      <uab-button-group *ngIf="showResend"
                        [neutralButtonId]="'resend-button'"
                        (neutralOnClick)="resend()"
                        [neutralDisabled]="isResending"
                        [neutralActive]="isResending"
                        [neutralText]="'Resend Email'"
                        [neutralActiveText]="'Resending...'"></uab-button-group>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!showEmailConfirmation && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 300ms">
    <ion-item>
      <ion-icon *ngIf="!hasConfirmedEmail"
                [slot]="'start'"
                [src]="'assets/icons/not-complete.svg'"></ion-icon>

      <ion-icon *ngIf="hasConfirmedEmail"
                [slot]="'start'"
                [src]="'assets/icons/complete.svg'"></ion-icon>

      <ion-label class="text-center text-disabled">
        Confirm Email
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="!showApplication && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 600ms">
    <ion-item>
      <ion-icon *ngIf="!applicationComplete"
                [slot]="'start'"
                [src]="'assets/icons/not-complete.svg'"></ion-icon>

      <ion-icon *ngIf="applicationComplete"
                [slot]="'start'"
                [src]="'assets/icons/complete.svg'"></ion-icon>

      <ion-label class="text-center text-disabled">
        Application
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showApplication && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 600ms; padding: 10px 20px;">
    <ion-card-header>
      <ion-card-title class="text-center">
        Application
      </ion-card-title>
    </ion-card-header>

    <uab-sci-application (onApply)="completeApplication($event)"
                         [showCancel]="false"
                         [applicant]="applicant"
                         [addressLineOneText]="addressLineOneText"
                         [addressLineTwoText]="addressLineTwoText"
                         [cancelText]="cancelText"
                         [cityText]="cityText"
                         [applyText]="applyText"
                         [applyingText]="applyingText"
                         [emailText]="emailText"
                         [firstNameText]="firstNameText"
                         [lastNameText]="lastNameText"
                         [mobileNumberText]="mobileNumberText"
                         [stateLabel]="stateLabel"></uab-sci-application>
  </ion-card>

  <ion-card *ngIf="showRejected && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 600ms">
    <ion-card-content class="ion-margin ion-text-center">
      Thank you for your interest in the SCIPE study. Based on your response, you are not eligible for this study. Please feel free to contact us for more information at <a href="mailto: scipe@uab.edu">scipe@uab.edu</a>. We appreciate your time and have a good day!
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showBrowserCheck && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 400ms">
    <ion-card-header>
      <ion-card-title class="text-center">
        Browser Check
      </ion-card-title>
    </ion-card-header>

    <uab-browser-check (onComplete)="setApplicant($event)"
                       [activeUser]="applicant"
                       [checkText]="browserCheckText"
                       [checkingText]="browserCheckingText"
                       [nextText]="nextText"
                       [runImmediately]="true"></uab-browser-check>
  </ion-card>

  <ion-card *ngIf="!showBrowserCheck && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 400ms">
    <ion-item>
      <ion-icon *ngIf="!hasCheckedBrowser"
                [slot]="'start'"
                [src]="'assets/icons/not-complete.svg'"></ion-icon>

      <ion-icon *ngIf="hasCheckedBrowser"
                [slot]="'start'"
                [src]="'assets/icons/complete.svg'"></ion-icon>

      <ion-label class="text-center text-disabled">
        Browser Check
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="showSpeedCheck && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 500ms">
    <ion-card-header>
      <ion-card-title class="text-center">
        Speed Check
      </ion-card-title>
    </ion-card-header>

    <uab-speed-check (onCancel)="cancelSpeedCheck()"
                     (onComplete)="setApplicant($event)"
                     [runImmediately]="true"
                     [user]="applicant"
                     [checkText]="speedCheckText"
                     [checkingText]="speedCheckingText"
                     [nextText]="nextText"></uab-speed-check>
  </ion-card>

  <ion-card *ngIf="!showSpeedCheck && !isLoadingUser"
            class="animated fadeIn"
            style="animation-delay: 500ms">
    <ion-item>
      <ion-icon *ngIf="!hasCheckedSpeed"
                [slot]="'start'"
                [src]="'assets/icons/not-complete.svg'"></ion-icon>

      <ion-icon *ngIf="hasCheckedSpeed"
                [slot]="'start'"
                [src]="'assets/icons/complete.svg'"></ion-icon>

      <ion-label class="text-center text-disabled">
        Speed Check
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="hasCompleted"
            class="animated fadeIn"
            style="animation-delay: 700ms">
    <ion-card-header>
      <ion-card-title class="text-center">
        Your application has been successfully submitted to the program staff!
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin text-center"
                      style="color: dimgray; font-weight: 500;">
      <span *ngIf="isReturning">
        You have already applied to the study.
      </span>

      <div *ngIf="!isReturning">
        <p>
          We will review the application within 24 hours and send a follow-up survey link (Participant Screening Form) via e-mail. This will help you to know whether or not you need a physician’s approval before participating in an exercise program. Please complete the survey at your earliest convenience.
        </p>
        <p>
          Thank you again for your interest in our study.
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
